body {
    background-color: rgb(69, 76, 210);
}

.container {
    max-width: 660px;
    margin: 0 auto;
}

.amarelo {
    padding: 100px;
    margin: 10px;
    background-color: rgb(210, 194, 69);
    box-sizing: border-box;
}

.alongar {
    padding-right: 320px;
}

.crescer {
    padding-top: 450px;
}

.cresce {
    padding-top: 350px;
}

.flexivel {
    display: flex;
}

.amarelod{
    display: flex;
    justify-content: center;
    align-items: center;

}

.crescerr {
    padding-top: 400px;
}

